#logo {
  text-align: center;
  margin: 0 auto;
}
#info {
    text-align: center;
    padding: 0 10px;
    line-height: 0 auto;
}
header, header:visited {
  color: #000000;
  text-decoration: none;
}
